@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:wght@900&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
input,button,textarea{
    font: inherit;
}

/* VARIABLES */
:root{
    /*colours*/
    --COLOR-B:Black;
    --COLOR-W:white;
    --COLOR-LB:rgb(24, 182, 235);
    --BORDER-COLOR:black;
    /*BackGround colours*/
    --BACK-COLOR-W:white;
    --BACK-COLOR-B:black;
    --BACK-COLOR-BL:blue;
    --BACK-COLOR-O:orange;
    --BACK-COLOR-R:red;
    /*Font-Styles*/
    --FF:'Courier New', Courier, monospace;
    --FF-HEADINGS: "Wittgenstein", serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    /*PADDING*/
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em);
     /* BORDERS */
     --BORDERS: 2px solid var(--BORDER-COLOR);
     --BORDER-RADIUS: 15px;
     /*Link General Styles*/
     --LINK-ACTIVE: rgb(252, 200, 103);
     --LINK-COLOR: black;
     --LINK-HOVER: rgba(253, 165, 1, 0.56);

}



/*UTILITY CLASSES*/
.nowrap{
    flex-wrap: nowrap;
}
.center{
    text-align: center;
}
.offscreen{
    position: relative;
    left: -20000px;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BACK-COLOR-W);
}

body {
    background-color: var(--BACK-COLOR-W);
    color: var(--COLOR-B);
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

h2,h3{
    font-size: var(--FONT-HEAD-SIZE);
    font-family: var(--FS);
    padding: 1rem;
    letter-spacing: 0.1em;

}
header,footer{
    position: sticky;
}
header{
    top: 0;
}
footer{
    bottom: 0;
    z-index: 1;
}
a:any-link{
    color:var(--LINK-COLOR);
}
a:hover,
a:focus-visible{
    color:var(--LINK-HOVER);
}
a:active{
    color:var(--LINK-ACTIVE);
}


/*Header Styles*/

.header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: var(--FF);
    display: block;
    background-color: whitesmoke;
}

.header ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.header ul li:nth-child(1){
    color: var(--COLOR-LB);
}

.header ul li{
    list-style-type: none;
    font-size: var(--FONT-HEAD-SIZE);
    padding: 1rem var(--PADDING-SIDE);
    font-weight: bold;
    word-spacing :0.1rem;
    letter-spacing: 0.1rem;
}
a{
    text-decoration: none;
}

/*Main Content styles*/
.main{
    background-color: none;
}
.main div{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    padding:16.5% var(--PADDING-SIDE);
}

.main div h2{
    background-color: var(--BACK-COLOR-B);
    color: var(--COLOR-W);
    padding: 0.5rem;
    font-weight: 900;
    margin:1.1em;
    font-size: clamp(1.5rem,2.2vh,2rem);
    font-family: var(--FF-HEADINGS);
}

.color{
    color:var(--COLOR-LB)
}
#btn{
    border: var(--BORDERS);
    border-radius: 2px;
    padding: var(--PADDING-TB) 1%;
    background-color: transparent;
    box-shadow: 0 0 5px var(--BORDER-COLOR);
    cursor: pointer;
    transition-duration: 0.5s;
}
#btn:hover{
    background-color: var(--BACK-COLOR-B);
    color:var(--COLOR-W);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:ease;
}

/*footer*/

.footer{
    background-color: var(--BACK-COLOR-W);
}
.footer h3{
    text-align: center;
}